<!-- Popular Course Start -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="section-title text-center mb-4 pb-2">
                <h4 class="title mb-4">Chương trình đào tạo</h4>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card blog rounded border-0 shadow overflow-hidden">
                <div class="position-relative">
                    <img src="~/Images/web/20201209/pro1.jpg" class="card-img-top" alt="Tiếng Anh tiền tiểu học">
                    <div class="overlay bg-dark"></div>
                </div>
                <div class="position-relative">
                    <div class="shape overflow-hidden text-white">
                        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                        </svg>
                    </div>
                </div>
                <div class="card-body content">
                    <h5 class="mt-2">
                        <a href="javascript:void(0)" class="title text-dark">Tiếng Anh tiền tiểu học</a>
                    </h5>
                    <p class="text-muted">Giúp các bé giao tiếp tự tin, phát âm chuẩn xác, kỹ năng đọc thông minh, nuôi dưỡng đam mêm và trí tưởng tượng, phát triển kỹ thông minh cảm xúc và kỹ năng mềm</p>
                    <a href="javascript:void(0)" class="text-primary">Xem chi tiết <i data-feather="chevron-right" class="fea icon-sm"></i></a>
                </div>
            </div> <!--end card / course-blog-->
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card blog rounded border-0 shadow overflow-hidden">
                <div class="position-relative">
                    <img src="~/Images/web/20201209/pro2.jpg" class="card-img-top" alt="Tiếng Anh tiểu học">
                    <div class="overlay bg-dark"></div>
                </div>
                <div class="position-relative">
                    <div class="shape overflow-hidden text-white">
                        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                        </svg>
                    </div>
                </div>
                <div class="card-body content">
                    <h5 class="mt-2">
                        <a href="javascript:void(0)" class="title text-dark">Tiếng Anh tiểu học</a>
                    </h5>
                    <p class="text-muted">Giúp các bé giao tiếp tự tin, phát âm chuẩn xác, làm chủ vốn từ học thuật và hệ thống ngữ pháp, phát triển hiểu biết về thế giới bằng tiếng Anh, Tư duy phân tích và phản biện, Phát triển khả năng sáng tạo, Kỹ năng làm việc theo đội nhóm.</p>
                    <a href="javascript:void(0)" class="text-primary">Xem chi tiết <i data-feather="chevron-right" class="fea icon-sm"></i></a>
                </div>
            </div> <!--end card / course-blog-->
        </div><!--end col-->
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card blog rounded border-0 shadow overflow-hidden">
                <div class="position-relative">
                    <img src="~/Images/web/20201209/pro3.jpg" class="card-img-top" alt="Tiếng Anh THCS">
                    <div class="overlay bg-dark"></div>
                </div>
                <div class="position-relative">
                    <div class="shape overflow-hidden text-white">
                        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                        </svg>
                    </div>
                </div>
                <div class="card-body content">
                    <h5 class="mt-2">
                        <a href="javascript:void(0)" class="title text-dark">Tiếng Anh THCS</a>
                    </h5>
                    <p class="text-muted">Giúp cho các em giao tiếp tự tin, phát âm chuẩn xác, làm chủ vốn từ học thuật và hệ thống ngữ pháp, tư duy phân tích và phản biện, đảm bảo đầu ra IELTS, xây dựng tư duy tích cực chủ động để phát triển bản thân và đạt mục tiêu.</p>
                    <a href="javascript:void(0)" class="text-primary">Xem chi tiết <i data-feather="chevron-right" class="fea icon-sm"></i></a>
                </div>
            </div> <!--end card / course-blog-->
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card blog rounded border-0 shadow overflow-hidden">
                <div class="position-relative">
                    <img src="~/Images/web/20201209/pro4.jpg" class="card-img-top" alt="Luyện Thi">
                    <div class="overlay bg-dark"></div>
                </div>
                <div class="position-relative">
                    <div class="shape overflow-hidden text-white">
                        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                        </svg>
                    </div>
                </div>
                <div class="card-body content">
                    <h5 class="mt-2">
                        <a href="javascript:void(0)" class="title text-dark">Luyện Thi</a>
                    </h5>
                    <p class="text-muted">Có các khóa học luyên thi vào các trường chuyên THPT và luyện thi các chứng chỉ quốc tế như Cambridge</p>
                    <a href="javascript:void(0)" class="text-primary">Xem chi tiết <i data-feather="chevron-right" class="fea icon-sm"></i></a>
                </div>
            </div> <!--end card / course-blog-->
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card blog rounded border-0 shadow overflow-hidden">
                <div class="position-relative">
                    <img src="~/Images/web/20201209/pro5.jpg" class="card-img-top" alt="Kĩ năng mềm">
                    <div class="overlay bg-dark"></div>
                </div>
                <div class="position-relative">
                    <div class="shape overflow-hidden text-white">
                        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                        </svg>
                    </div>
                </div>
                <div class="card-body content">
                    <h5 class="mt-2">
                        <a href="javascript:void(0)" class="title text-dark">Kĩ năng mềm</a>
                    </h5>
                    <p class="text-muted">Có các khóa rèn luyện kĩ năng mềm như: Thuyết trình, Tranh biện, Kịch Nghệ, Viết sáng tạo, Đọc thông minh, Hướng nghiệp, Kĩ năng lãnh đạo đội nhóm</p>
                    <a href="javascript:void(0)" class="text-primary">Xem chi tiết <i data-feather="chevron-right" class="fea icon-sm"></i></a>
                </div>
            </div> <!--end card / course-blog-->
        </div><!--end col-->
        <div class="col-12">
            <div class="text-center mt-4 pt-2">
                <a href="/khoa-hoc" class="btn btn-primary">Xem thêm khóa học <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right fea icon-sm"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
            </div>
        </div>
    </div><!--end row-->
</div><!--end container-->
<!-- Popular Course End -->