<div class="container mt-100 mt-60">
    <div class="row align-items-center">
        <div class="col-lg-5 col-md-6 text-center">
            <img src="~/Images/web/nguyen-giang.jpg" alt="">
        </div><!--end col-->

        <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
            <div class="section-title ml-lg-5">
                <h4 class="title mb-4">Ms. Nguyen Giang</h4>
                <ul class="list-unstyled text-muted">
                    <li class="mb-0">
                        <span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>CEO- Founder tại Pride English Academy
                    </li>
                    <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Thạc sỹ Ngôn ngữ Anh – Đại học Quốc Gia Hà Nội</li>
                    <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Giảng viên Ngôn ngữ Anh –Khoa Ngoại Ngữ - ĐH Phương Đông</li>
                    <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>14 năm kinh nghiệm giảng dạy tiếng Anh cho học viên mọi lứa tuổi</li>
                    <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Master Trainer cho giáo viên tiếng Anh do London Teaching College công nhận</li>
                </ul>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->


<div class="container mt-100 mt-60">
    <div class="row align-items-center">
        <div class="col-lg-5 col-md-6 text-center">
            <img src="~/Images/web/roxy.jpg" alt="">
        </div><!--end col-->

        <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
            <div class="section-title ml-lg-5">
                <h4 class="title mb-4">Ms. Roxy</h4>
                <ul class="list-unstyled text-muted">
                    <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Thạc sỹ chuyên ngành sư phạm</li>
                    <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Kinh nghiệm dạy tiếng Anh 5 năm tại Việt Nam</li>
                    <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Chứng chỉ sư phạm dạy tiếng Anh cho người nước ngoài do chính phủ Anh công nhận</li>
                    <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Chứng chỉ dạy tiếng Anh trẻ em do chính phủ Anh công nhận</li>
                    <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Chứng chỉ giáo dục sớm tại Trung Quốc</li>
                </ul>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->