 <!-- Hero Start -->
<section class="bg-half d-table w-100 bg-green" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level title-heading">
                    <h1 class="text-white title-dark"> Giới thiệu </h1>
                    <p class="text-white para-desc mb-0 mx-auto">PRIDE ENGLISH ACADEMY là trung tâm đào tạo tiếng Anh trẻ em và tiếng Anh học thuật, luyện thi IELTS, luyện thi chuyên Anh, tiết kiệm thời gian và chi phí với mô hình đào tạo kết hợp online và offline</p>
                    <div class="page-next">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ul class="breadcrumb bg-white rounded shadow mb-0">
                                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->


<section class="section">
    <div class="container">
        <div class="row align-items-center" id="counter">
            <div class="col-md-6">
                <img src="/Images/company/about-final.jpg" class="img-fluid" alt="">
            </div><!--end col-->

            <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="ml-lg-4">
                    <div class="section-title">
                        <h4 class="title mb-4">Tầm nhìn của chúng tôi</h4>
                        <p class="text-muted">
                            PEA không ngừng lớn mạnh với khát vọng đào tạo thế hệ trẻ Việt Nam trở thành công dân toàn cầu  với  triết lý giáo dục : học ngôn ngữ là để nhân văn.
                            PEA  giúp trẻ phát triển bản thân toàn diện với những kỹ năng cần thiết để thích ứng với một thế giới biển đổi không ngừng.
                            PEA chú trọng vào chất lượng đào tạo và không ngừng tìm kiếm sự hoàn hảo trong xây dựng 5 phẩm chất xuất sắc  ở người học:
                        </p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Creativity - Khả năng sáng tạo  </li>
                            <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Critical Thinking - Tư duy phản biện</li>
                            <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Comprehensive Development - Phát triển toàn diện </li>
                            <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Confidence - Tự tin tỏa sáng</li>
                            <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Connection - Kết nối thành công</li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->



<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-4">Giá trị cốt lõi</h4>
                    @*<p class="text-muted para-desc mx-auto mb-0">Start working with <span class="text-primary font-weight-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>*@
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-md-4 mt-4 pt-2">
                <div class=" features work-process bg-transparent process-arrow border-0 text-center">
                    @*<div class="icons rounded h1 text-center text-primary px-3">
                        <i class="uil uil-presentation-edit"></i>
                    </div>*@
                    <div class="image position-relative d-inline-block">
                        <img src="~/Images/web/20200905/dam-me.png" class="avatar avatar-small" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="title text-dark">ĐAM MÊ - PASSION</h4>
                        <p class="text-muted mb-0">
                            We are passionate to work with HUMAN to create the professional and perfect service.
                            Chúng tôi đam mê làm việc với con NGƯỜI để tạo nên dịch vụ chuyên nghiệp và hướng tới sự hoàn hảo.
                        </p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-md-4 mt-4 pt-2">
                <div class=" features work-process bg-transparent process-arrow border-0 text-center">
                    <div class="image position-relative d-inline-block">
                        <img src="~/Images/web/20200905/chuyen-nghiep.png" class="avatar avatar-small" alt="">
                    </div>

                    <div class="card-body">
                        <h4 class="title text-dark">CHUYÊN NGHIỆP - PROFESSIONAL</h4>
                        <p class="text-muted mb-0">
                            We are professionally qualified
                            Chúng tôi có bằng cấp chuyên nghiệp - Trình chuyên môn cao
                        </p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-md-4 mt-4 pt-2">
                <div class=" features work-process bg-transparent d-none-arrow border-0 text-center">
                    <div class="image position-relative d-inline-block">
                        <img src="~/Images/web/20200905/hoan-hao.png" class="avatar avatar-small" alt="">
                    </div>

                    <div class="card-body">
                        <h4 class="title text-dark">HOÀN HẢO - PERFECT</h4>
                        <p class="text-muted mb-0">
                            We are non-stop seeking the perfect
                            Chúng tôi ý thức mình chưa hoàn hảo để không ngừng tìm kiếm sự hoàn hảo - đem lại sự hài lòng cho khách hàng và chính chúng tôi
                        </p>
                    </div>
                </div>
            </div><!--end col-->






            <div class="col-md-6 mt-4 pt-2">
                <div class=" features work-process bg-transparent d-none-arrow border-0 text-center">
                    <div class="image position-relative d-inline-block">
                        <img src="~/Images/web/20200905/tu-hao.jpg" class="avatar avatar-small" alt="">
                    </div>


                    <div class="card-body">
                        <h4 class="title text-dark">TỰ HÀO - PRIDE </h4>
                        <p class="text-muted mb-0">
                            We hold pride in who we are and what we are doing and what our students are to be. Chúng tôi tự hào về những gì chúng tôi đang làm và tự hào về học sinh của chúng tôi
                        </p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-md-6 mt-4 pt-2">
                <div class=" features work-process bg-transparent d-none-arrow border-0 text-center">
                    <div class="image position-relative d-inline-block">
                        <img src="~/Images/web/20200905/thinh-vuong.png" class="avatar avatar-small" alt="">
                    </div>


                    <div class="card-body">
                        <h4 class="title text-dark">THỊNH VƯỢNG - PROSPERITY</h4>
                        <p class="text-muted mb-0">
                            We are prosperous and make our students and their family prosperous  as we care, share and treat fair and contribute to their success.
                            Chúng tôi thịnh vượng và đóng góp vào sự thịnh vượng của học sinh và gia đình bởi lẽ chúng tôi : QUAN TÂM - CHIA SẺ - ĐỐI XỬ CÔNG BẰNG  để hướng tới thành công.
                        </p>
                    </div>
                </div>
            </div><!--end col-->





        </div><!--end row-->
    </div><!--end container-->

</section><!--end section-->

<section class="section">
    <div class="container">
        <div class="row align-items-center" id="counter">
            <div class="col-md-6">
                <img src="/Images/company/about2.png" class="img-fluid" alt="">
            </div><!--end col-->

            <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="ml-lg-4">
                    <div class="section-title">
                        <h4 class="title mb-4"> Đội ngũ giáo viên <span style="color:#00c9a7;">3T</span></h4>
                        <p class="text-muted">
                            PEA không ngừng lớn mạnh với khát vọng đào tạo thế hệ trẻ Việt Nam trở thành công dân toàn cầu  với  triết lý giáo dục : học ngôn ngữ là để nhân văn.
                            PEA  giúp trẻ phát triển bản thân toàn diện với những kỹ năng cần thiết để thích ứng với một thế giới biển đổi không ngừng.
                            PEA chú trọng vào chất lượng đào tạo và không ngừng tìm kiếm sự hoàn hảo trong xây dựng 5 phẩm chất xuất sắc  ở người học:
                        </p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>TÂM: 100% đội ngũ đào tạo yêu trẻ, yêu nghề</li>
                            <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>TẦM: 100% đội ngũ đào tạo hiểu và phụng sự mục tiêu giáo dục VÌ TRẺ EM HẠNH PHÚC</li>
                            <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>TÀI: 100% đội ngũ đào tạo có bằng cấp và kỹ năng sư phạm chuyên nghiệp – công nhận quốc tế</li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->

<section class="section bg-light">

    <div class="container">
        <div class="row align-items-end mb-4 pb-4">
            <div class="col-md-8">
                <div class="section-title text-center text-md-left">
                    <h4 class="title mb-4">Mô hình giảng dạy</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-md-4 pt-2">
                <ul class="nav nav-pills nav-justified flex-column bg-white rounded shadow p-3 mb-0 sticky-bar" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link rounded active" id="tab1" data-toggle="pill" href="#tab1-content" role="tab" aria-controls="developing" aria-selected="false">
                            <div class="text-center pt-1 pb-1">
                                <h6 class="title font-weight-normal mb-0">Biểu đồ phân bổ thời gian học</h6>
                            </div>
                        </a><!--end nav link-->
                    </li><!--end nav item-->

                    <li class="nav-item mt-2">
                        <a class="nav-link rounded" id="tab2" data-toggle="pill" href="#tab2-content" role="tab" aria-controls="data-analise" aria-selected="false">
                            <div class="text-center pt-1 pb-1">
                                <h6 class="title font-weight-normal mb-0">Chương trình học</h6>
                            </div>
                        </a><!--end nav link-->
                    </li><!--end nav item-->

                    <li class="nav-item mt-2">
                        <a class="nav-link rounded" id="tab3" data-toggle="pill" href="#tab3-content" role="tab" aria-controls="security" aria-selected="false">
                            <div class="text-center pt-1 pb-1">
                                <h6 class="title font-weight-normal mb-0">Trình độ quốc tế</h6>
                            </div>
                        </a><!--end nav link-->
                    </li><!--end nav item-->

                    <li class="nav-item mt-2">
                        <a class="nav-link rounded" id="tab4" data-toggle="pill" href="#tab4-content" role="tab" aria-controls="designing" aria-selected="false">
                            <div class="text-center pt-1 pb-1">
                                <h6 class="title font-weight-normal mb-0">Công dân toàn cầu</h6>
                            </div>
                        </a><!--end nav link-->
                    </li><!--end nav item-->
                    <li class="nav-item mt-2">
                        <a class="nav-link rounded" id="tab5" data-toggle="pill" href="#tab5-content" role="tab" aria-controls="designing" aria-selected="false">
                            <div class="text-center pt-1 pb-1">
                                <h6 class="title font-weight-normal mb-0">Phương pháp giảng dạy</h6>
                            </div>
                        </a><!--end nav link-->
                    </li><!--end nav item-->
                    <li class="nav-item mt-2">
                        <a class="nav-link rounded" id="tab6" data-toggle="pill" href="#tab6-content" role="tab" aria-controls="designing" aria-selected="false">
                            <div class="text-center pt-1 pb-1">
                                <h6 class="title font-weight-normal mb-0">Hiệu quả giảng dạy</h6>
                            </div>
                        </a><!--end nav link-->
                    </li><!--end nav item-->
                    <li class="nav-item mt-2">
                        <a class="nav-link rounded" id="tab7" data-toggle="pill" href="#tab7-content" role="tab" aria-controls="designing" aria-selected="false">
                            <div class="text-center pt-1 pb-1">
                                <h6 class="title font-weight-normal mb-0">Hoạt động ngoại khóa</h6>
                            </div>
                        </a><!--end nav link-->
                    </li><!--end nav item-->
                </ul><!--end nav pills-->
            </div><!--end col-->

            <div class="col-md-8 col-12 mt-4 pt-2">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade bg-white show active p-4 rounded shadow" id="tab1-content" role="tabpanel" aria-labelledby="tab1">
                        <img src="~/Images/web/thoi-gian-hoc.png" class="img-fluid rounded shadow" alt="">
                    </div><!--end teb pane-->

                    <div class="tab-pane fade bg-white p-4 rounded shadow" id="tab2-content" role="tabpanel" aria-labelledby="tab2">
                        <img src="~/Images/web/chuong-trinh-hoc.png" class="img-fluid rounded shadow" alt="">
                    </div><!--end teb pane-->

                    <div class="tab-pane fade bg-white p-4 rounded shadow" id="tab3-content" role="tabpanel" aria-labelledby="tab3">
                        <img src="~/Images/web/20200905/trinh-do-quoc-te.png" class="img-fluid rounded shadow" alt="">
                    </div><!--end teb pane-->

                    <div class="tab-pane fade bg-white p-4 rounded shadow" id="tab4-content" role="tabpanel" aria-labelledby="tab4">
                        <img src="~/Images/web/cong-dan-toan-cau.png" class="img-fluid rounded shadow" alt="">
                    </div><!--end teb pane-->
                    <div class="tab-pane fade bg-white p-4 rounded shadow" id="tab5-content" role="tabpanel" aria-labelledby="tab2">
                        <img src="~/Images/web/phuong-phap-day-hoc.png" class="img-fluid rounded shadow" alt="">
                    </div><!--end teb pane-->

                    <div class="tab-pane fade bg-white p-4 rounded shadow" id="tab6-content" role="tabpanel" aria-labelledby="tab3">
                        <img src="/Images/hieu-qua-giang-day.png" class="img-fluid rounded shadow" alt="">
                    </div><!--end teb pane-->

                    <div class="tab-pane fade bg-white p-4 rounded shadow" id="tab7-content" role="tabpanel" aria-labelledby="tab4">
                        <img src="/Images/ngoaikhoa.png" class="img-fluid rounded shadow" alt="">
                    </div><!--end teb pane-->
                </div><!--end tab content-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Feature Start -->
<section class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="features text-center">
                    <div class="image position-relative d-inline-block">
                        <img src="~/Images/web/icons/mo-hinh-dao-tao.png" class="avatar avatar-small" alt="">
                    </div>

                    <div class="content mt-4">
                        <h4 class="title-2">MÔ HÌNH ĐÀO TẠO HUẤN LUYỆN NGÔN NGỮ</h4>
                        <p class="text-muted mb-0">Coaching, blended learning kết hợp học online và offline - tiết kiệm chi phí - tối ưu hiệu quả</p>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-md-4 col-12 mt-5 mt-sm-0">
                <div class="features text-center">
                    <div class="image position-relative d-inline-block">
                        <img src="~/Images/web/icons/giao-trinh-tich-hop.png" class="avatar avatar-small" alt="">
                    </div>

                    <div class="content mt-4">
                        <h4 class="title-2"> GIÁO TRÌNH TÍCH HỢP</h4>
                        <p class="text-muted mb-0">Toàn bộ các bài học đều được công nghệ hoá dưới dạng tương tác giúp trẻ có thể chủ động luyện tập 24/7</p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-md-4 col-12 mt-5 mt-sm-0">
                <div class="features text-center">
                    <div class="image position-relative d-inline-block">
                        <img src="~/Images/web/icons/giao-vien-chuyen-nghiep.png" class="avatar avatar-small" alt="">
                    </div>

                    <div class="content mt-4">
                        <h4 class="title-2">GIÁO VIÊN CHUYÊN NGHIỆP</h4>
                        <p class="text-muted mb-0">Có trình độ thạc sĩ chuyên ngành giáo dục, giảng viên các trường ĐH hàng đầu Việt Nam</p>
                    </div>
                </div>
            </div><!--end col-->
        </div>
    </div>
</section>

<section class="section pb-0">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-12 mt-5 mt-sm-0">
                <div class="features text-center">
                    <div class="image position-relative d-inline-block">
                        <img src="~/Images/web/icons/phuong-phap-dao-tao.png" class="avatar avatar-small" alt="">
                    </div>

                    <div class="content mt-4">
                        <h4 class="title-2">PHƯƠNG PHÁP ĐÀO TẠO TOP</h4>
                        <p class="text-muted mb-0">TPR, Online Blended, P3</p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-md-4 col-12 mt-5 mt-sm-0">
                <div class="features text-center">
                    <div class="image position-relative d-inline-block">
                        <img src="~/Images/web/icons/ki-nang-cong-dan.png" class="avatar avatar-small" alt="">
                    </div>

                    <div class="content mt-4">
                        <h4 class="title-2">
                            KỸ NĂNG CÔNG DÂN TOÀN CẤU
                        </h4>
                        <p class="text-muted mb-0">Hệ thống khóa học kỹ năng mềm thế kỷ 21 độc quyền</p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-md-4 col-12 mt-5 mt-sm-0">
                <div class="features text-center">
                    <div class="image position-relative d-inline-block">
                        <img src="~/Images/web/icons/bang-quoc-te.png" class="avatar avatar-small" alt="">
                    </div>
                    <div class="content mt-4">
                        <h4 class="title-2"> BẰNG QUỐC TẾ CAMBRIDGE</h4>
                        <p class="text-muted mb-0">Đảm bảo đầu ra theo lộ trinh từ Starters, Movers, Flyers, KET, PET, FCE, IELTS</p>
                    </div>
                </div>
            </div><!--end col-->


        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12 mt-5 mt-sm-0">
                <div class="features text-center">
                    <div class="image position-relative d-inline-block">
                        <img src="~/Images/web/icons/ket-noi-gia-dinh.png" class="avatar avatar-small" alt="">
                    </div>
                    <div class="content mt-4">
                        <h4 class="title-2">
                            KẾT NỐI GIA ĐÌNH VÀ NHÀ TRƯỜNG
                        </h4>
                        <p class="text-muted mb-0">Các hội thảo về nuôi dạy con, hướng nghiệp, tâm lý học đường giúp ba mẹ làm bạn cùng con.</p>
                    </div>
                </div>
            </div><!--end col-->




        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Feature End -->